/* Общие параметры */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0px;
  padding: 0px;
}

section {
  background-color: #0a0a0a;
}

/* Параметры навигационной панели */

.background-img {
  background-image: url(../img/nav/814234-interstellar-wallpaper.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 15px solid #0a0a0a;
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-div-a-2 {
  padding: 35px;
  text-decoration-line: none;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-div-a-1,
.nav-div-a-3 {
  padding: 35px;
  text-decoration-line: none;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-right: 20px;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 80px;
  margin-bottom: 0;
}

.audio-onclick {
  border: none;
  border-radius: 35px;
  width: 70px;
  font-size: 10px;
  height: 70px;
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 0px;
  margin-left: 30px;
  transition: 0.3s;
}

.audio-onclick:hover {
  color: #000;
  transition: 0.5s;
  width: 50px;
  height: 50px;
  font-size: 6px;
}

/* Параметры для body */

.section-div {
  display: block;
  text-align: center;
  padding-bottom: 80px;
}

.trailer-section {
  background-image: url(../img/phone/img3.akspic.ru-noch-nebo-atmosfera-mlechnyj_put-nochnoe_nebo-3967x3872.jpg);
  background-size: cover;
  background-position: top;
}

.button-rezka {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  color: #030931;
  padding-top: 15px;
  margin-left: 550px;
  margin-right: 550px;
  border-radius: 25px;
}

.button-rezka p {
  padding-right: 10px;
}

.button-rezka a {
  color: #fff;
  background-color: #030931;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 18px;
  padding-top: 18px;
  border-radius: 25px;
  margin-left: 0px;
  transition: 0.5s;
}

.button-rezka a:hover {
  color: #fff;
  background-color: #0a0a0a;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 18px;
  padding-top: 18px;
  border-radius: 25px;
  transform: translateX(22px);
  transition: 0.5s;
}

.video {
  padding: 100px;
}

/* Параметры для footer */

footer {
  display: block;
  color: #fff;
  background-image: url(../img/phone/img3.akspic.ru-noch-nebo-atmosfera-mlechnyj_put-nochnoe_nebo-3967x3872.jpg);
  background-size: cover;
  background-position: bottom;
}

.footer-div {
  display: flex;
  justify-content: center;
}
.footer-div a {
  text-decoration-line: none;
}

.footer-div h4,
h6 {
  margin-bottom: 10px;
}
.movies {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 30px;
  padding-top: 0px;
}

.watch-move {
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

.credits-move {
  display: block;
  text-align: center;
  padding-top: 35px;
  margin-right: 20px;
}
